<!DOCTYPE html>
<html>
<head>
  <title>PracticeApi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= link_to "Search Coffee Shops", foursquare_path %> |||
  <%= link_to "Search Hiking Spots", hike_path %>

<%= yield %>

</body>
</html>
